*{
	margin: 0;
	padding: 0;
}

html,
body{
	margin: 0;
	padding: 0;
}

ol, ul{
	list-style: none;
}

body{
	background: #fff;
	max-width: 1900px;
	height: 100%
}

a, a:hover{
	text-decoration: none;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}

header{
	padding: 28px 0;
	background: url(../img/headback.png) no-repeat 23% 0 /cover;
	height: 1000px;
}

.logo_link{
	display: inline-block;
}

.logo{
	float: left;
}


.header-nav{
	display: flex;
	justify-content: flex-end;
}

.header-nav_item{
	padding: 0 0 0 55px;
}

.header-nav_link{
	font: 14px 'MontserratRegular', Helvetica sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s easy-in-out;
	text-transform: uppercase;
}

.header-nav_link:hover{
	color: #fce38a;
	cursor: pointer;
	border-bottom: 4px solid #fce38a;
	padding-bottom: 10px; 
}

.banner{
	text-align: center;
	padding-top: 160px;
}

.creative{
	color: #fff;
	font: 72px 'KaushanScriptRegular', Helvetica sans-serif;
}

.welcome{
	color: #fff;
	font: 169px 'MontserratBold', Helvetica sans-serif;
	text-transform: uppercase;
	padding-bottom: 125px; 
}

.btn{
	position: relative;
	cursor: pointer;
	color: #fff;
	transition: 0.3s easy-in-out;
	outline: none;
	cursor: pointer;
	background: none;
	font: 14px 'MontserratBold', Helvetica sans-serif;
	padding: 0 30px 0 30px;
	text-transform: uppercase;
	height: 35px;
	border: 2px solid #fff;
}

.btn:hover{
	cursor: pointer;
	color: #fce38a;
	border: 2px solid #fce38a;
}

.btn:before{
	content: '';
	border-top: 3px solid #fff;
	width: 60px;
	position: absolute;
	bottom: 90px;
	left: 50px;
}

.container_main-block{
	height: 750px;
	background: #fff;
	padding-top: 90px;
}

.aboutus{
	text-align: center;
	position: relative;
}

.aboutus_wedo{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
}

.aboutus_story{
	font: 30px 'MontserratBold', Helvetica sans-serif;
	color: #000;
	text-transform: uppercase;
	padding: 25px 0 40px 0;
}

.aboutus_lorem{
	font: 15px 'RobotoRegular', Helvetica sans-serif;
	color: #9f9f9f;
	padding-top: 50px;
}

.aboutus-pics{
	padding-top: 100px;
}

.aboutus_lorem:after{
	position: absolute;
	content: '';
	border-top: 3px solid #f38181;
	top: 130px;
	width: 60px;
	right: 580px
}

.aboutus-pics_container{
	position: relative;
	height: 250px;
	width: 370px;
	background: linear-gradient(#f38181, #fce38a);
	display: inline-block;
	margin: 0 0 0 25px;
}

.aboutus-pics_container:hover:before{
	position: absolute;
	width: 125px;
	height: 50px;
	background: url(../img/superteam.png) no-repeat 0% 0% / cover;
	content: '';
	z-index: 3;
	top: 45%;
	left: 30%;
	cursor: pointer;
}

.aboutus-img{
	position: relative;
	height: 250px;
    width: 370px;
	cursor: pointer;
	transition: 0.4s;
}

.aboutus-img:hover{
	opacity: 0.4;
}

.rect{
	height: 265px;
	background: #95e1d3	
}

.numbers-wrap{
	width: 235px;
	display: inline-block;
	text-align: center;
	border-left: 1px solid #fff;
}

.number5{
	border-right: 1px solid #fff;
}

.numbers_number{
	padding-top: 75px;
	font: 72px 'MontserratBold', Helvetica sans-serif;
	color: #fff;
}

.numbers_desc{
	padding-top: 30px;
	font: 14px 'MontserratRegular', Helvetica sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 90px;
}

.container_services{
	position: relative;
	text-align: center;
	padding-top: 105px;
}

.we-work{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
}

.amazing{
	font: 30px 'MontserratBold', Helvetica sans-serif;
	color: #000;
	text-transform: uppercase;
	padding: 0px 0 115px 0;
}

.amazing:after{
	position: absolute;
	content: '';
	border-top: 3px solid #f38181;
	top: 234px;
	right: 570px;
	width: 60px;
}

.services{
	display: inline-block;
	width: 341px;
	margin: 0 0 0 40px;
	text-align: left;
}

.services_icon{
	position: relative;
	right: 50px;
	top: 35px;
}

.container_services{
	height: 650px;
}

.services_title{
	font: 14px 'MontserratRegular', Helvetica sans-serif;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.services_desc{
	font: 15px 'RobotoRegular', Helvetica sans-serif;
	color: #9f9f9f;
}

.uniq-design{
	background: url(../img/wedoback.png);
	height: 850px;
}

.container_design{
	position: relative;
	text-align: center;
	padding-top: 100px;
}

.container_design-title{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
}

.container_design-uniqtitle{
	padding-top: 25px;
	font: 30px 'MontserratBold', Helvetica sans-serif;
	color: #000;
	text-transform: uppercase;
}

.container_design-uniqtitle:after{
	position: absolute;
	content: '';
	border-top: 3px solid #f38181;
	top: 234px;
	right: 570px;
	width: 60px;
}

.ipad-pic{
	position: relative;
	top: 90px;
	background: url(../img/ipad.png) no-repeat 100% 0% /cover;
	padding: 470px 0 100px 0;
	max-width: 470px;
	margin: 0 auto;
}

.iphone-pic{
	background: url(../img/iphone.png) no-repeat 100% 0 /cover;
	max-width: 200px;
	z-index: 1;
	position: relative;
	bottom: 288px;
	left: 255px;
	padding: 274px 68px 156px 0;
	margin: 0 auto;
}

.container_wedo{
	position: relative;
	height: 900px;
	padding: 100px 0 120px 0;
	text-align: center;
}

.wedo_title{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
}

.wedo_title2{
	font: 30px 'MontserratBold', Helvetica sans-serif;
	color: #000;
	text-transform: uppercase;
	padding-top: 25px;
}

.wedo_title2:after{
	position: absolute;
	content: '';
	border-top: 3px solid #f38181;
	top: 234px;
	right: 570px;
	width: 60px;
}

.wedo_desc{
	font: 15px 'RobotoRegular', Helvetica sans-serif;
	color: #9f9f9f;
	padding-top: 90px;
}

.wedo-pic_wrap{
	width: 565px;
	height: 365px;
	float: left;
}

.wedo-wrap{
	padding-top: 95px;
}

.hipster-wrap{
	background: #f8f8f8;
	height: 250px;
}

.hip-img{
	padding: 65px 0 70px 0;
}

.container_weare{
	text-align: center;
	padding: 100px 0 115px 0;
}

.weare-title{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
}

.weare-title2{
	font: 30px 'MontserratBold', Helvetica sans-serif;
	color: #000;
	padding-top: 30px;
	text-transform: uppercase;
}

.weare-desc{
	font: 15px 'RobotoRegular', Helvetica sans-serif;
	color: #cccccc;
	padding-top: 90px;
}

.container-our_work{
	height: 410px;
	padding: 105px 0 100px 0;
	text-align: center;
}

.work-title{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
}

.work-title2{
	font: 30px 'MontserratBold', Helvetica sans-serif;
	color: #000;
	padding-top: 25px;
	text-transform: uppercase;
}

.work-desc{
	padding-top: 90px;
	font: 15px 'RobotoRegular', Helvetica sans-serif;
	color: #b3b3b3;
}

.team-box{
	width: 380px;
	height: 470px;
	background: linear-gradient(#f38181, #fce38a);
	display: inline-block;
	margin: 0 0 0 17px;
}

.team-pic1{
	background: url(../img/team1.png) no-repeat 20% 0 / cover;
	max-width: 380px;
	padding-top: 124%;
	transition: 0.8s;
	cursor: pointer;
}

.team-pic2{
	background: url(../img/team2.png) no-repeat 70% 0 / cover;
	max-width: 380px;
	padding-top: 124%;
	transition: 0.8s;
	cursor: pointer;
}

.team-pic3{
	background: url(../img/team3.png) no-repeat 41% 0 / cover;
	max-width: 380px;
	padding-top: 124%;
	transition: 0.8s;
	cursor: pointer;
}

.team-wrap{
	padding-top: 90px;
}

.team-desc{
	display: inline-block;
	padding: 30px 120px 0 0;
	margin: 0 0 0 140px;
	font: 14px 'MontserratRegular', Helvetica sans-serif;
	color: #000;
	line-height: 17px;
}

.team-name{
	text-transform: uppercase;
}

.team-position{
	font: 15px 'RobotoLightItalic', Helvetica sans-serif;
	color: #999999;
}

.team-pic:hover{
	opacity: 0.4;
}

.people-wrap{
	background: url(../img/peopleback.png);
	height: 800px;
}

.comment-desk{
	font: 24px 'RobotoLightItalic', Helvetica sans-serif;
	color: #999999;
}

.comment-sign{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
	padding: 0 0 0 70px;
}

.comment-pic{
	max-width: 210px;
	padding: 180px 0 28px 0;
	border-radius: 50%;
	background: url(../img/commentpic.png) no-repeat 44%;
}

.container_work-comment{
	/*height: 440px;*/
	padding: 0 0 440px 0;
	position: relative;
}

.comment-block_left{
	float: left;
	width: 18%;
	padding: 100px 0 0 150px;
}

.comment-block_right{
	float: right;
	width: 68%;
	padding: 140px 0 0 0;
}

.comment-sign:after{
	position: absolute;
	content: '';
	border-top: 3px solid #f38181;
	width: 60px;
	left: 385px;
	top: 260px;
}

.block-doe_left{
	float: left;
	width: 18%;
	padding: 70px 0 0 150px;
}

.block-doe_right{
	float: right;
	width: 68%;
	padding: 80px 0 0 0;
}

.doe-wrap{
	font: 24px 'RobotoLightItalic', Helvetica sans-serif;
	color: #999999;
	background: #f8f8f8;
	padding: 70px 0 70px 0;
}

.doe-box{
	border: 5px solid #95e1d3;
	max-width: 150px;
	padding-top: 150px;
	background: url(../img/speechicon.png) no-repeat 50%;
}

.doe-desc{
	width: 770px;
}

.container_doe{
	padding: 0 0 290px 0;
	position: relative;
}

.doe-sign{
	padding: 20px 0 0 68px;
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
}

.doe-sign:after{
	position: absolute;
	content: '';
	border-top: 3px solid #f38181;
	width: 60px;
	left: 380px;
	top: 218px;
}

.container_people{
	text-align: center;
	position: relative;
}

.people-title{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	color: #000;
	padding: 110px 0 17px 0;
}

.people-title2{
	font: 30px 'MontserratBold', Helvetica sans-serif;
	text-transform: uppercase;
	padding: 0 0 145px 0;
}

.people-title2:before{
	position: absolute;
	content: '';
	border-top: 3px solid #f38181;
	width: 60px;
	top: 230px;
	right: 570px;
}

.customer-name{
	font: 14px 'MontserratRegular', Helvetica sans-serif;
	text-transform: uppercase;
}

.customer-position{
	font: 15px 'RobotoLightItalic', Helvetica sans-serif;
	color: #868686;
	padding-top: 15px;
}

.customer-comment{
	font: 15px 'RobotoRegular', Helvetica sans-serif;
	color: #999999;
	padding-top: 20px;
}

.customer-box{
	display: inline-block;
	text-align: left;
	width: 510px;
	margin: 0 0 0 85px;
	padding: 0 0 85px 0;
}

.customer-pic_box{
	width: 110px;
	float: left;
	border-radius: 50%;
	padding: 110px 0 0 0;
	margin: 0 20px 0 0;
}

.customer-pic1{
	background: url(../img/customer1.png) no-repeat 50% 5%;
}

.customer-pic2{
	background: url(../img/customer2.png) no-repeat 60% 50%;
}

.customer-pic3{
	background: url(../img/customer3.png) no-repeat 50% 5%;
}

.customer-pic4{
	background: url(../img/customer4.png) no-repeat 25% 10%;
}

.container_latest{
	text-align: center;
	padding-bottom: 175px;
}

.latest-title{
	font: 24px 'KaushanScriptRegular', Helvetica sans-serif;
	padding-top: 115px;
}

.latest-title2{
	font: 30px 'MontserratBold', Helvetica sans-serif;
	text-transform: uppercase;
	padding-top: 25px;
}

.blog-pic{
	max-width: 380px;
	height: 240px;
	margin: 0 0 0 25px;
	padding: 95px 0 20px 0;
}

.blog-desk{
	display: inline-block;
	width: 33%;
	text-align: left;
	transform: translateX(25px);
}

.blog-desk_title{
	font: 14px 'MontserratRegular', Helvetica sans-serif;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.blog-desk_desk{
	font: 15px 'RobotoRegular', Helvetica sans-serif;
	color: #999999;
	line-height: 25px;
}

.footer{
	float: left;
	width: 33%;
}